{% extends '../base.html' %}

{% block content %}

<section class="section wb">
    <div class="container">
        <div class="page-wrapper">
            <div class="blog-grid-system">
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-6">
                        <div class="blog-box">
                            <div class="post-media post-div">
                                <a href="#">
                                    {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="" class="img-fluid">
                                    {% endif %}
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta big-meta">
                                <h4><a href="#">{{ post.title }}</a></h4>
                                <p>{{ post.post|truncatechars:250 }}</p>
                                <small><a href="#">{{ category.title }}</a></small>
                                <small><a href="#">{{ post.date_created }}</a></small>
                                <small><a href="#">by {{ post.author.username }}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->
                    </div><!-- end col -->
                    {% endfor %}
                </div><!-- end row -->
            </div><!-- end blog-grid-system -->
        </div><!-- end page-wrapper -->

        <hr class="invis3">

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-start">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock content %}
